
@{
    ViewBag.Title = "Index";
}

<nav>
    <a href="/Index.html">Home</a>
    <a href="/Cart.html">Cart</a>
    <a href="/Orders.html">Orders</a>
    <a href="/Products.html">Products</a>
    <a href="/User.html">User</a>
    <a href="/UserRoles.html">UserRoles</a>
</nav>
<h2>Home</h2>
